%header.mdl-layout__header
  .mdl-layout__header-row
    %span.mdl-layout-title
      Collective House
    .mdl-layout-spacer
    %nav.mdl-navigation.mdl-layout--large-screen-only
      .mdl-navigation__link
        = link_to "Calendar", "/home"
      .mdl-navigation__link
        = link_to "Groceries", "/groceries"
.mdl-layout__drawer
  %nav.mdl-navigation
    .mdl-navigation__link
      = link_to "Calendar", "/home"
    .mdl-navigation__link
      = link_to "Groceries", "/groceries"
